files:
  "/etc/alloy/config.alloy":
    mode: "000644"
    owner: root
    group: root
    content: |
      // 1. O Alloy lê os dados da sua API localmente
      prometheus.scrape "api_thrivecorp" {
        targets = [
          {__address__ = "localhost:8080"}, 
        ]
        metrics_path = "/metrics"
        forward_to = [prometheus.remote_write.grafana_cloud.receiver]
      }

      // 2. O Alloy envia os dados para o Grafana Cloud (PUSH)
      prometheus.remote_write "grafana_cloud" {
        endpoint {
          // COLAR AQUI SUA URL QUE TERMINA EM /push
          url = "https://prometheus-prod-40-prod-sa-east-1.grafana.net/api/prom/push" 

          basic_auth {
            // SEU USUÁRIO (Número)
            username = "2819209" 
            
            // SUA SENHA (Token Longo)
            password = "glc_eyJvIjoiMTU5Nzg1MCIsIm4iOiJzdGFjay0xNDQ3NDg4LWhtLXdyaXRlLXNjcmFwZXIiLCJrIjoiNTJSZElVajRPN3c2TEUyRTY0aGozNUtTIiwibSI6eyJyIjoicHJvZC1zYS1lYXN0LTEifX0="
          }
        }
      }

commands:
  01_install_alloy:
    command: |
      # Adiciona o repositório do Grafana
      sudo curl -fsSL https://apt.grafana.com/gpg.key | sudo gpg --dearmor -o /etc/apt/keyrings/grafana.gpg
      echo "deb [signed-by=/etc/apt/keyrings/grafana.gpg] https://apt.grafana.com stable main" | sudo tee /etc/apt/sources.list.d/grafana.list
      
      # Instala o Agente Alloy
      sudo apt-get update
      sudo apt-get install -y alloy

  02_start_alloy:
    command: "sudo systemctl enable alloy && sudo systemctl restart alloy"