files:
  "/etc/yum.repos.d/grafana.repo":
    mode: "000644"
    owner: root
    group: root
    content: |
      [grafana]
      name=grafana
      baseurl=https://rpm.grafana.com
      repo_gpgcheck=1
      enabled=1
      gpgcheck=1
      gpgkey=https://rpm.grafana.com/gpg.key
      sslverify=1
      sslcacert=/etc/pki/tls/certs/ca-bundle.crt

  # 2. Configura o Alloy com as SUAS credenciais novas
  "/etc/alloy/config.alloy":
    mode: "000644"
    owner: root
    group: root
    content: |
      prometheus.scrape "api_thrivecorp" {
        targets = [
          {__address__ = "localhost:8080"}, 
        ]
        metrics_path = "/metrics"
        forward_to = [prometheus.remote_write.grafana_cloud.receiver]
      }

      prometheus.remote_write "grafana_cloud" {
        endpoint {
          url = "https://prometheus-prod-40-prod-sa-east-1.grafana.net/api/prom/push"

          basic_auth {
            username = "2819209"
            password = "glc_eyJvIjoiMTU5Nzg1MCIsIm4iOiJzdGFjay0xNDQ3NDg4LWhtLXdyaXRlLXRva2VuYWNlc3MiLCJrIjoibTEzNDdCZVB5azA1M0N1OXBQMjFWZmtnIiwibSI6eyJyIjoicHJvZC1zYS1lYXN0LTEifX0="
          }
        }
      }

commands:
  # 3. Instala e Inicia o serviço
  01_install_alloy:
    command: "yum install -y alloy"
    ignoreErrors: false

  02_start_alloy:
    command: "systemctl enable alloy && systemctl restart alloy"
    ignoreErrors: false