files:
  # 1. Cria o arquivo de repositório do Grafana para o yum (Amazon Linux) ler
  "/etc/yum.repos.d/grafana.repo":
    mode: "000644"
    owner: root
    group: root
    content: |
      [grafana]
      name=grafana
      baseurl=https://rpm.grafana.com
      repo_gpgcheck=1
      enabled=1
      gpgcheck=1
      gpgkey=https://rpm.grafana.com/gpg.key
      sslverify=1
      sslcacert=/etc/pki/tls/certs/ca-bundle.crt

  # 2. Cria o arquivo de configuração do Alloy com suas credenciais
  "/etc/alloy/config.alloy":
    mode: "000644"
    owner: root
    group: root
    content: |
      prometheus.scrape "api_thrivecorp" {
        targets = [
          {__address__ = "localhost:8080"}, 
        ]
        metrics_path = "/metrics"
        forward_to = [prometheus.remote_write.grafana_cloud.receiver]
      }

      prometheus.remote_write "grafana_cloud" {
        endpoint {
          # URL DE PUSH (que termina em /push)
          url = "https://prometheus-prod-40-prod-sa-east-1.grafana.net/api/prom/push" 

          basic_auth {
            # SEU USUÁRIO (Aquele número, ex: 1447488)
            username = "2819209" 
            
            # SUA SENHA (O Token longo)
            password = "glc_eyJvIjoiMTU5Nzg1MCIsIm4iOiJzdGFjay0xNDQ3NDg4LWhtLXdyaXRlLXNjcmFwZXIiLCJrIjoiNTJSZElVajRPN3c2TEUyRTY0aGozNUtTIiwibSI6eyJyIjoicHJvZC1zYS1lYXN0LTEifX0="
          }
        }
      }

commands:
  # 3. Instala o Grafana Alloy usando o yum (Amazon Linux)
  01_install_alloy:
    command: "yum install -y alloy"
    ignoreErrors: false

  # 4. Habilita e inicia o serviço
  02_start_alloy:
    command: "systemctl enable alloy && systemctl restart alloy"
    ignoreErrors: false