name: Deploy Backend to Elastic Beanstalk

on:
  push:
    branches: [ main ]
    paths:
      - 'backend/**'

jobs:
  build-and-deploy:
    runs-on: [ ubuntu-latest ]
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install Dependencies
        run: npm install
      - name: Genrate Deployment Package
        run: zip -r deploy.zip * -x "**node_modules**"
      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v22
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: thriveCorp2
          environment_name: ThriveCorp2-env
          version_label: ${{ github.sha }}
          region: us-east-2
          deployment_package: nodejs-app-build.zip


          